.field {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: 'gray';
}
.hello {
    width: 100vw;
    height: 20vh;

    background: #000;
    color: white;
}
.hidden {
    opacity: 0;
    transform: scale(0.5);
}
/* .show {
    opacity: 1;
} */
.fade {
    width: 1000px;
    height: 100px;
    background: green;
}
.fade-enter {
    opacity: 0;
    transform: translateY(-20px);
}
.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}

/* Выход */
.fade-exit {
    opacity: 1;
    transform: translateY(0);
}
.fade-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms, transform 300ms;
}
